@page
@model CloudMosaic.Frontend.Pages.GalleriesModel
@{
    ViewData["Title"] = "Tile Galleries";
}

<h2>Tile Galleries</h2>

<p>Here are the tile galleries you have created.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Image Source</th>
            <th scope="col">Public</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gallery in this.Model.Galleries)
        {
        <tr>
            <td>@gallery.Name</td>
            <td>@gallery.Status</td>
            <td>@gallery.Attributions</td>
            @if (@gallery.IsPublic)
            {
                <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled checked></td>                
            }
            else
            {
                <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled></td>                
            }
            <td>        
                <a class="btn btn-link" href="@Url.Page("/EditGallery", new {GalleryId = gallery.GalleryId})">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="row mt-3">
    <div class="col-sm form-group">
        <a class="btn btn-link" asp-page="/CreateGallery">Create New Gallery</a>
    </div>
</div>